<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Tarro" type="Tarro.Configuration.ServerSettings, Tarro"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <Tarro>
    <applications>
      <add name="sample" pathToApp="..\..\..\Tarro.SampleApp\bin\debug" executable="Tarro.SampleApp.exe" />
    </applications>
  </Tarro>
</configuration>
